<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angularmods</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body style="padding:10px;" ng-app="mainApp">
    <div class="row">
      <div class="col col-md-12">
        <div class="well">
          <h1>Navigation and Single Content</h1>
          <p>Demonstrates magicView and magicMessage. Navigation contains view information for each item. The Content shows one view / directive at a time associated with the navigation item. Content views are only created when needed and destroyed when closed or user navigates to another page</p>
        </div>
      </div>
    </div>
    <div class="row" ng-controller="mainController">
      <div class="col col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Navigation</h3>
          </div>
          <div class="panel-body">
            <div ng-repeat="link in links">
              <button class="btn btn-default btn-lg btn-block>" ng-click="openView(link)">{{link.name}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Content</h3>
          </div>
          <div class="panel-body">
            <magic-view view="currentView"></magicview>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script src="scripts/magic.js"></script>
    <script src="appscripts/demo001/mainApp.js"></script>
    <script src="appscripts/demo001/viewBookstore.js"></script>
    <script src="appscripts/demo001/viewCustomer.js"></script>
  </body>
</html>