<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Magic View</title>
  <script src="scripts/angular.js"></script>
  <script src="scripts/magic.js"></script>
  <script>
  var app = angular.module("appTest", ['magicModule']);

  app.controller("ctrlTest", ['$scope','magicMessage', function(scope, magicMessage){
    scope.view = {};
    scope.hideButton = function hideButton(){
      scope.isHidden = true;
    }
    scope.changeHelloWorld = function(){
      scope.view = {name:'dir-hello-world', data:'Apollo'};
    }
    scope.changeZippy = function(){
      scope.view = {name:'dir-zippy', data:'Haha'};
    }
    scope.sendMessage = function(){
      magicMessage.broadcast('testMessage', 'herro :)')
    }
  }]);

  app.directive("dirHelloWorld", ['magicMessage', function(magicMessage){
    return{
      scope:  {
        viewInfo: '='
      }
      ,restrict: 'E'
      ,template: "<p>Hello World {{viewInfo.data}}</p><p>message:{{message}}</p>"
      ,link: function(scope, element){
        magicMessage.subscribe("testMessage", scope);
        scope.testMessage = function(message, sender){
          magicMessage.safeApply(scope, function(){
            scope.message = message;  
          });
        }

        scope.$on('$destroy', function(){
          magicMessage.unsubscribe('testMessage', scope);
        });

      }
    }
  }]);

  app.directive("dirZippy", ['magicMessage', function(magicMessage){
    return{
      scope:  {
        viewInfo: '='
      }
      ,restrict: 'E'
      ,template: "<p>I think I can, I think I can {{viewInfo.data}}</p>"
      ,link: function(scope, element){

      }
    }
  }]);

  app.directive("dirTest", ['magicMessage', function(magicMessage){
    return{
      scope:  {
      }
      ,restrict: 'E'
      ,template: "<p><button ng-click=\"sendTestMessage()\">Click Me!</button></p>"
      ,link: function(scope, element){
        scope.sendTestMessage = function(){
          //magicMessage.broadcast("testMessage", "Okee Dokee");
          magicFactory().broadcast("testMessage", "Okee Dokee");
        }
      }
    }
  }]);
  </script>
</head>
<body ng-app="appTest">
  <div ng-controller="ctrlTest">
    <button ng-click="changeHelloWorld()">Hello World</button>
    <button ng-click="changeZippy()">Zippy</button>
    <button ng-click="sendMessage()">Send Message</button>
    <magic-view view="view"></magic-view>
    <dir-test></dir-test>
    <button onclick="magicFactory().broadcast('testMessage', 'Oh yes')">Hahaha</button>
  </div>
</body>
</html>