<div class="row">
	<div class="col col-md-12">
		<form>
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" placeholder="Enter First Name" ng-model="customer.firstName"></input>
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" class="form-control" placeholder="Enter Last Name" ng-model="customer.lastName"></input>
			</div>
			<div class="form-group">
				<label>Email Address</label>
				<input type="email" class="form-control" placeholder="Enter Email Address" ng-model="customer.emailAddress"></input>
			</div>
			<div class="form-group">
				<label>Birthday</label>
				<input type="date" class="form-control" placeholder="Enter Birthday" ng-model="customer.birthday"></input>
			</div>
			<div class="form-group">
				<button class="pull-right btn btn-default btn-lg" ng-click="clickClose()">Close</button>
			</div>
		</form>
	</div>
</div>