<div class="row">
	<div class="col col-md-12">
		<form>
			<div class="form-group">
				<label>Bookstore #</label>
				<input type="text" class="form-control" placeholder="Enter Bookstore" ng-model="bookstore.id"></input>
			</div>
			<div class="form-group">
				<label>Manager</label>
				<input type="text" class="form-control" placeholder="Enter Manager" ng-model="bookstore.manager"></input>
			</div>
			<div class="form-group">
				<label>Address</label>
				<input type="text" class="form-control" placeholder="Enter Address" ng-model="bookstore.address"></input>
			</div>
			<div class="form-group">
				<label>City</label>
				<input type="text" class="form-control" placeholder="Enter City" ng-model="bookstore.city"></input>
			</div>
			<div class="form-group">
				<label>State</label>
				<input type="text" class="form-control" placeholder="Enter State" ng-model="bookstore.state"></input>
			</div>
			<div class="form-group">
				<label>Zip</label>
				<input type="text" class="form-control" placeholder="Enter Zip" ng-model="bookstore.Zip"></input>
			</div>
			<div class="form-group">
				<button class="pull-right btn btn-default btn-lg" ng-click="clickClose()">Close</button>
			</div>
		</form>
	</div>
</div>